<ion-header class="app-header ion-no-border">
  <ion-toolbar color="primary">
    <ion-button type="button" class="back-btn" slot="start" expand="block" shape="round" size="small" (click)="back()"
      *ngIf="showPostForm">
      <ion-icon name="chevron-back-circle-outline" class="back-ic"></ion-icon>
    </ion-button>
    <ion-title class="header-title">Home</ion-title>
    <ion-button type="button" class="logout-btn" slot="end" expand="block" shape="round" size="small"
      (click)="logout()">
      Logout <ion-icon name="log-out-outline" class="logout-ic"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="app-home" [fullscreen]="true">
  <div class="welcome-card" *ngIf="showWelcome">
    <p class="welcome-msg">Welcome, You have successfully logged in 👏 </p>
    <ion-button type="button" class="continue-btn" slot="right" expand="block" shape="round" size="medium"
      color="primary" (click)="continue()">Continue
    </ion-button>
  </div>
  <section class="home-container" *ngIf="!showWelcome">
    <ion-list class="profile-list" *ngIf="!showPostForm">
      <ion-item class="profile-item ion-no-padding" lines="none" *ngFor="let data of profileData">
        <div class="profile-card">
          <ion-avatar class="profile-img">
            <img [src]="data.avatar" shape="round" alt="avatar" class="avatar-img" />
          </ion-avatar>
          <div class="profile-content">
            <div class="name-wrap">
              <span class="first-name">{{data.first_name}}</span>
              <span class="last-name">{{data.last_name}}</span>
            </div>
            <p class="email-txt">{{data.email}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <form class="add-form" [formGroup]="addForm" (ngSubmit)="addSubmit()" *ngIf="showPostForm">
      <div class="form-group" *ngIf="showPostForm">
        <ion-item class="form-field ion-no-padding">
          <ion-icon class="ip-icon" name="person-outline" slot="start"></ion-icon>
          <ion-input class="form-control" placeholder="Name" type="text" formControlName="name"></ion-input>
        </ion-item>
      </div>
      <div class="form-group">
        <ion-item class="form-field ion-no-padding">
          <ion-icon class="ip-icon" name="briefcase-outline" slot="start"></ion-icon>
          <ion-input class="form-control" placeholder="Job" type="text" formControlName="job"></ion-input>
        </ion-item>
      </div>
      <ion-button type="submit" class="submit-btn" color="primary" expand="block" shape="round" size="medium"
        [disabled]="!addForm.valid">Submit
      </ion-button>
    </form>
  </section>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!showPostForm && !showWelcome">
    <ion-fab-button (click)="addUser()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>