.app-header {
    position: relative;

    ion-toolbar {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;

        .header-title {
            color: #fff;
            font-size: 16px;
        }

        .logout-btn {
            width: auto;
            --padding-start: 15px;
            --padding-end: 10px;
            --background: #fff;
            --color: #3880ff;
            font-weight: bold;
            height: 30px;

            .logout-ic {
                margin-left: 8px;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

.app-home {
    position: relative;

    &::before {
        content: "";
        width: 100%;
        height: 40px;
        background: #3880ff;
        position: absolute;
        top: 0;
        z-index: 9;
    }
    &::after {
        content: "";
        width: 100%;
        height: 40px;
        background: #fff;
        position: absolute;
        top: 0;
        z-index: 99;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
    }
    .welcome-card {
        margin-top: 50px;
        padding: 0 30px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        p.welcome-msg {
            font-size: 22px;
            line-height: 31px;
            text-align: center;
            font-weight: bold;
        }
    }
}
